.pristine h1, .pristine h2, .pristine h3, .pristine h4,
h1.pure, h2.pure, h3.pure, h4.pure {
  font-weight: 100;
  color: #3c3c3c;
  box-sizing: border-box;
}

.text, .text-sm, .text-lg, .text-title {
  font-size: 1.1em;
  font-weight: 200;
  box-sizing: border-box;
}

.text-sm {
  font-size: 0.8em;
}

.text-lg {
  font-size: 1.4em;
}

.text-title {
  font-size: 1.8em;
}

.text-thin {
  font-weight: 100;
}

.text-dim {
  opacity: 0.7;
}

.text-bold {
  font-weight: bold !important;
}

.text-italic {
  font-style: italic !important;
}

.pristine {
  color: #3c3c3c;
}

.pristine a, .pristine a:visited {
  color: #1a63a3;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.pristine a:hover {
  color: #1e76c3;
}

.btn, input[type=button].pure, .pristine input[type=button],
input[type=submit].pure, .pristine input[type=submit],
input[type=reset].pure, .pristine input[type=reset], select.pure:not([multiple]), .pristine select:not([multiple]),
.form-row select:not([multiple]), .btn-img, .btn-clear, .btn-sm, .btn-img-sm, .btn-clear-sm, .pristine button.btn-sm, .pristine button.btn-img-sm, .pristine button.btn-clear-sm, .btn-lg, .btn-img-lg, .btn-clear-lg, .pristine button.btn-lg, .pristine button.btn-img-lg, .pristine button.btn-clear-lg, button.pure, .pristine button {
  border: none;
  border-radius: 4px;
  background: whitesmoke;
  background: linear-gradient(to bottom, whitesmoke 0%, #ebebeb 100%);
  padding: .33rem .89rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 1px 1px #d2d2d2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin: 2px;
  box-sizing: border-box;
  line-height: 1.4rem;
}

.btn:disabled, input[type=button].pure:disabled, .pristine input[type=button]:disabled,
input[type=submit].pure:disabled, .pristine input[type=submit]:disabled,
input[type=reset].pure:disabled, .pristine input[type=reset]:disabled, select.pure:disabled:not([multiple]), .pristine select:disabled:not([multiple]),
.form-row select:disabled:not([multiple]), .btn-img:disabled, .btn-clear:disabled, .btn-sm:disabled, .btn-img-sm:disabled, .btn-clear-sm:disabled, .btn-lg:disabled, .btn-img-lg:disabled, .btn-clear-lg:disabled, button.pure:disabled, .pristine button:disabled {
  cursor: default;
}

.btn:hover, input[type=button].pure:hover, .pristine input[type=button]:hover,
input[type=submit].pure:hover, .pristine input[type=submit]:hover,
input[type=reset].pure:hover, .pristine input[type=reset]:hover, select.pure:hover:not([multiple]), .pristine select:hover:not([multiple]),
.form-row select:hover:not([multiple]), .btn-img:hover, .btn-clear:hover, .btn-sm:hover, .btn-img-sm:hover, .btn-clear-sm:hover, .btn-lg:hover, .btn-img-lg:hover, .btn-clear-lg:hover, button.pure:hover, .pristine button:hover {
  background: #ebebeb;
  background: linear-gradient(to bottom, #ebebeb 0%, #e1e1e1 100%);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.btn-lg, .btn-img-lg, .btn-clear-lg, .pristine button.btn-lg, .pristine button.btn-img-lg, .pristine button.btn-clear-lg {
  padding: .43rem 1.45rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.btn-sm, .btn-img-sm, .btn-clear-sm, .pristine button.btn-sm, .pristine button.btn-img-sm, .pristine button.btn-clear-sm {
  padding: .2rem .6rem;
  font-size: 0.8rem;
  line-height: 1rem;
}

.btn-close {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background: none !important;
  border: 0  !important;
  box-shadow: none !important;
  box-sizing: border-box;
  font-size: 1.6rem !important;
  padding: 4px 6px !important;
  line-height: 1.6rem;
}

.btn-close:hover {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.btn-clear, .btn-clear-sm, .btn-clear-lg {
  background: transparent !important;
  box-shadow: none !important;
  border: 0;
  opacity: 0.8;
}

.btn-clear:hover, .btn-clear-sm:hover, .btn-clear-lg:hover {
  opacity: 1;
}

.btn img, input[type=button].pure img, .pristine input[type=button] img,
input[type=submit].pure img, .pristine input[type=submit] img,
input[type=reset].pure img, .pristine input[type=reset] img, select.pure:not([multiple]) img, .pristine select:not([multiple]) img,
.form-row select:not([multiple]) img, .btn-img img, .btn-clear img, button.pure img, .btn-lg img, .btn-img-lg img, .pristine button.btn-lg img, .pristine button.btn-img-lg img, .btn-sm img, .btn-img-sm img, .pristine button.btn-sm img, .pristine button.btn-img-sm img, .btn-clear-lg img, .pristine button.btn-clear-lg img, .btn-clear-sm img, .pristine button.btn-clear-sm img, .pristine button img {
  height: 1.4rem;
  vertical-align: top;
  margin-right: 0.4rem;
}

.btn img:after, input[type=button].pure img:after, .pristine input[type=button] img:after,
input[type=submit].pure img:after, .pristine input[type=submit] img:after,
input[type=reset].pure img:after, .pristine input[type=reset] img:after, select.pure:not([multiple]) img:after, .pristine select:not([multiple]) img:after,
.form-row select:not([multiple]) img:after, .btn-img img:after, .btn-clear img:after, button.pure img:after, .btn-lg img:after, .btn-img-lg img:after, .pristine button.btn-lg img:after, .pristine button.btn-img-lg img:after, .btn-sm img:after, .btn-img-sm img:after, .pristine button.btn-sm img:after, .pristine button.btn-img-sm img:after, .btn-clear-lg img:after, .pristine button.btn-clear-lg img:after, .btn-clear-sm img:after, .pristine button.btn-clear-sm img:after {
  margin-right: 1rem;
}

.btn-lg img, .btn-img-lg img, .btn-clear-lg img, .pristine button.btn-lg img {
  height: 2rem;
  line-height: 2rem;
  vertical-align: top;
}

.btn-sm img, .btn-img-sm img, .btn-clear-sm img, .pristine button.btn-sm img {
  height: 1rem;
  vertical-align: top;
}

.btn-img, .btn-clear, .btn-clear-lg, .btn-clear-sm {
  padding: .33rem .33rem !important;
}

.btn-img img, .btn-clear img, .btn-clear-lg img, .btn-clear-sm img {
  height: 1.6rem !important;
  margin: -0.1rem 0px -0.1rem 0px !important;
}

.btn-img-sm, .btn-clear-sm {
  padding: .2rem .2rem !important;
}

.btn-img-sm img, .btn-clear-sm img {
  height: 1.2rem !important;
  margin: -0.1rem 0px -0.2rem 0px !important;
}

.btn-img-lg, .btn-clear-lg {
  padding: .43rem 0.43rem !important;
}

.btn-img-lg img, .btn-clear-lg img {
  height: 2.4rem !important;
  line-height: 2.4rem;
  margin: -0.2rem 0px -0.2rem 0px !important;
}

table.pure, .pristine table {
  border-collapse: collapse;
  border-spacing: 0;
  background: white;
  color: #3c3c3c;
  border: 1px solid gainsboro;
}

table.pure tr th, .pristine table tr th {
  background: whitesmoke;
}

table.pure tr th,
table.pure tr td, .pristine table tr th,
.pristine table tr td {
  border: 1px solid gainsboro;
  padding: 0.3rem 0.4rem;
}

.center > table, table.center {
  margin: 0 auto;
}

.tbl-row-count {
  font-size: 0.8rem;
  font-weight: normal;
  color: #646464;
}

.tbl-highlight tbody tr:hover {
  background: whitesmoke;
}

.tbl-highlight tbody tr td[contenteditable="true"]:focus {
  background: white;
}

.tbl-highlight tbody tr:hover .tbl-row-count {
  background: #ebebeb;
}

.sticker {
  display: inline-flex;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 0.8rem;
  line-height: 0.85rem;
  padding: .35em .5em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.notify {
  background: #91bfde;
  border-radius: 4px;
  padding: 1rem;
  padding-right: 2rem;
  margin: 10px 0px;
  background: rgba(183, 221, 255, 0.9);
  color: rgba(40, 48, 56, 0.9);
  position: relative;
  box-sizing: border-box;
}

.notify .btn-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.li-item, .li-item-h {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.45rem 0.65rem;
  box-sizing: border-box;
  padding-right: 0px;
  justify-content: left;
  font-size: 1.1rem;
}

.li-item img, .li-item-h img {
  box-sizing: border-box;
  height: 1.4rem;
  margin: -.2rem 0px;
  margin-right: 0.45rem;
}

.li-item .sticker, .li-item-h .sticker {
  margin-right: 0.45rem;
}

.li-item-container.border {
  border-bottom: 0px;
}

.li-item-container.border .li-item, .li-item-container.border .li-item-h {
  border-bottom: 1px solid gainsboro;
}

.li-text {
  flex: 1;
  padding-right: 0.45rem;
}

.li-item.heading, .heading.li-item-h {
  font-size: 1.3rem;
  background: #ebebeb;
}

.li-details {
  flex-basis: 100%;
  font-size: 0.9rem;
  min-height: 0;
  padding: 0.3rem;
  padding-left: 0.45rem;
  padding-top: 0.5rem;
}

.li-item-h {
  cursor: pointer;
}

.li-item-h:hover, a .li-item:hover {
  background: #a8dcff;
}

a .li-item, a .li-item-h {
  color: #3c3c3c;
}

pre.pure, .pristine pre {
  background: whitesmoke;
  border-radius: 4px;
  border: 1px solid gainsboro;
  padding: 0.8em;
  box-sizing: border-box;
}

pre.pure code, .pristine pre code {
  background: none;
  border: none;
  padding: 0px;
  display: block;
}

code.pure, .pristine code {
  padding: 0.1em 0.3em;
  background: whitesmoke;
  border-radius: 4px;
  border: 1px solid gainsboro;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.pristine img, img.pure {
  max-width: 100%;
  box-sizing: border-box;
  max-height: 100%;
}

.pristine hr, hr.pure {
  border: 0px;
  border-top: 1px solid #b4b4b4;
}

template {
  display: none;
}

.flex-row, .form-row, .tab-bar, .flex-row-c, .flex-container, .card-container {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  box-sizing: border-box;
  min-height: 0;
}

.flex-container, .card-container {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.flex-row-c {
  align-items: center;
}

.flex {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-3 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.flex-col, .li-item-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  box-sizing: border-box;
  min-height: 0;
}

.flex-row-break {
  flex-basis: 100%;
}

.flex-grid .row {
  display: flex;
  flex-direction: row;
}

.flex-grid .row.wrap, .flex-grid.wrap .row {
  flex-wrap: wrap;
}

.col {
  flex: 1;
  box-sizing: border-box;
}

[class*='col-'] {
  box-sizing: border-box;
}

.col-20 {
  flex: 2.0;
}

.col-25 {
  flex: 2.5;
}

.col-33 {
  flex: 3.3;
}

.col-40 {
  flex: 4.0;
}

.col-50 {
  flex: 5.0;
}

.col-60 {
  flex: 6.0;
}

.col-66 {
  flex: 6.6;
}

.col-75 {
  flex: 7.5;
}

.col-80 {
  flex: 8.0;
}

.ignore {
  all: unset;
}

.hidden {
  display: none !important;
}

.i-block {
  display: inline-block;
  box-sizing: border-box;
}

.i-flex {
  display: inline-flex;
  box-sizing: border-box;
}

.content {
  padding: 1rem;
  box-sizing: border-box;
}

.content img {
  max-width: 100%;
  box-sizing: border-box;
  max-height: 100%;
}

.center-container, .center-container-sm, .center-container-md, .center-container-lg {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  max-width: 100%;
  box-sizing: border-box;
}

.center-container-lg {
  width: 1200px;
}

.center-container-md {
  width: 800px;
}

.center-container-sm {
  width: 600px;
}

.center-content {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.noborder {
  border: 0px;
}

.border {
  border: 1px solid gainsboro;
}

.border-t {
  border-top: 1px solid gainsboro;
}

.border-b {
  border-bottom: 1px solid gainsboro;
}

.border-l {
  border-left: 1px solid gainsboro;
}

.border-r {
  border-right: 1px solid gainsboro;
}

.border-n {
  border: 0px;
}

.rad, .rad-s {
  border-radius: 4px;
}

.rad-t {
  border-radius: 4px 4px 0 0;
}

.rad-b {
  border-radius: 0 0 4px 4px;
}

.rad-l {
  border-radius: 4px 0 4px 0;
}

.rad-r {
  border-radius: 0 4px 0 4px;
}

.background-full, .menu-background, .dlg-bg, .dlg-bg-temp {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  z-index: -1;
  height: 100vh;
  width: 100vw;
}

.wide, .full-width {
  width: 100%;
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
}

.full-height {
  min-height: 1px;
  height: 100vh;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
}

.full-size {
  min-height: 0px;
  margin: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
}

.margin {
  margin: 1rem;
}

.margin-t {
  margin-top: 1rem;
}

.margin-b {
  margin-bottom: 1rem;
}

.margin-l {
  margin-left: 1rem;
}

.margin-r {
  margin-right: 1rem;
}

.margin-sm {
  margin: 0.5rem;
}

.margin-sm-t {
  margin-top: 0.5rem;
}

.margin-sm-b {
  margin-bottom: 0.5rem;
}

.margin-sm-l {
  margin-left: 0.5rem;
}

.margin-sm-r {
  margin-right: 0.5rem;
}

.margin-lg {
  margin: 1.5rem;
}

.margin-lg-t {
  margin-top: 1.5rem;
}

.margin-lg-b {
  margin-bottom: 1.5rem;
}

.margin-lg-l {
  margin-left: 1.5rem;
}

.margin-lg-r {
  margin-right: 1.5rem;
}

.margin-n, .space-n, .nomargin {
  margin: 0px;
}

.spacer {
  display: block;
  min-height: 20px;
}

.spacer-lg {
  display: block;
  min-height: 40px;
}

.spacer-sm {
  display: block;
  min-height: 10px;
}

.space {
  min-height: 1em;
  width: 1.5em;
  display: inline-block;
}

.space-sm {
  min-height: 1em;
  width: 1em;
}

.space-lg {
  min-height: 1em;
  width: 2em;
}

.divider {
  height: 1px;
  width: 100%;
  box-sizing: border-box;
  background: #b4b4b4;
}

.pad-n, .space-n, .nopad {
  padding: 0px !important;
}

.pad {
  padding: 0.6rem !important;
}

.pad-lg {
  padding: 1.5rem !important;
}

.pad-sm {
  padding: 0.3rem !important;
}

.pad-l {
  padding-left: 0.6rem !important;
}

.pad-r {
  padding-right: 0.6rem !important;
}

.pad-t {
  padding-top: 0.6rem !important;
}

.pad-b {
  padding-bottom: 0.6rem !important;
}

.pad-sm-l {
  padding-left: 0.3rem !important;
}

.pad-sm-r {
  padding-right: 0.3rem !important;
}

.pad-sm-t {
  padding-top: 0.3rem !important;
}

.pad-sm-b {
  padding-bottom: 0.3rem !important;
}

.pad-lg-l {
  padding-left: 1.5rem !important;
}

.pad-lg-r {
  padding-right: 1.5rem !important;
}

.pad-lg-t {
  padding-top: 1.5rem !important;
}

.pad-lg-b {
  padding-bottom: 1.5rem !important;
}

.float-r {
  float: right;
}

.float-l {
  float: left;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

.align-c {
  text-align: center;
}

.valign-t {
  vertical-align: top;
}

.valign-m {
  vertical-align: middle;
}

.valign-b {
  vertical-align: bottom;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.shadow, .menu-container, .sticker, .rad-s {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02) !important;
}

.shadow-lg {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 -2px 0px rgba(0, 0, 0, 0.02) !important;
}

.shadow-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) !important;
}

.shadow-l {
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
}

.shadow-r, .panel-l, .panel-r {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
}

.shadow-in {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.pointer {
  cursor: pointer;
}

.noselect, .carousel-left, .carousel-right, .tab-bar .tab, .tab-bar .tab-first, .tab-bar .tab-last {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.opacity-h {
  opacity: 0.8;
}

.opacity-h:hover {
  opacity: 1;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  box-shadow: none;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb, .scrollbar-dark::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.2);
}

.scrollbar::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.scrollbar-dark::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.2);
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

.bg-blue, .bg-blue-h {
  background: #2f8dd9 !important;
  color: white;
}

.bg-blue-h:hover {
  background: #2982c5 !important;
}

.bg-w {
  background: white !important;
}

.bg-red, .bg-red-h {
  background: #ff4e51 !important;
  color: white;
}

.bg-red-h:hover {
  background: #e1444e !important;
}

.bg-green, .bg-green-h {
  background: #2ab44d !important;
  color: white;
}

.bg-green-h:hover {
  background: #3ca648 !important;
}

.bg-yellow, .bg-yellow-h {
  background: #ffda7b !important;
}

.bg-yellow-h:hover {
  background: #f5ecb9 !important;
}

.bg-darkgray, .bg-darkgray-h {
  background: #4f5964 !important;
  color: white;
}

.bg-darkgray-h:hover {
  background: #3e454e !important;
}

.bg-gray, .bg-gray-h {
  background: #f2f3f5 !important;
}

.bg-gray-h:hover {
  background: #b1bac7 !important;
}

.bg-orange, .bg-orange-h {
  background: #ff8649 !important;
}

.bg-orange-h:hover {
  background: #e87a42 !important;
}

.bg-purple, .bg-purple-h {
  color: white;
  background: #7756b8 !important;
}

.bg-purple-h:hover {
  background: #624798 !important;
}

.clr-w {
  color: white !important;
}

.clr-blk {
  color: black !important;
}

.clr-gray {
  color: #f2f3f5;
}

.clr-darkgray {
  color: #4f5964;
}

.clr-text {
  color: #3c3c3c;
}

.clr-blue {
  color: #2f8dd9 !important;
}

.clr-red {
  color: #ff4e51 !important;
}

.clr-green {
  color: green !important;
}

.clr-yellow {
  color: yellow !important;
}

.clr-orange {
  color: orange !important;
}

.clr-purple {
  color: purple !important;
}

.dlg-bg, .dlg-bg-temp {
  background: rgba(74, 86, 100, 0.7);
  z-index: 200 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dlg-bg-temp {
  z-index: 220 !important;
}

.dlg-bg:not(.active), .dlg-bg-temp:not(.active) {
  display: none;
}

.dlg-bg-temp:not(.active) {
  display: flex;
}

.dlg-frame, .dlg-frame-none, .dlg-frame-wide {
  position: relative;
  background: white;
  border-radius: 4px;
  max-height: 90vh;
  overflow-y: auto;
  width: 350px;
  max-width: 90vw;
  box-sizing: border-box;
  padding: 0px;
  outline: none;
}

.dlg-frame > .btn-close, .dlg-frame-none > .btn-close, .dlg-frame-wide > .btn-close {
  position: absolute;
  right: 6px;
}

.dlg-frame-wide {
  width: 600px;
  max-width: 90vw;
}

.dlg-frame-none {
  background: transparent;
  width: auto;
}

.dlg-frame-none .btn-close {
  position: fixed;
  right: 4px;
  top: 4px;
  color: gainsboro;
  font-size: 2rem !important;
  font-weight: normal;
}

.dlg-frame-none .btn-close:hover {
  color: white;
}

.dlg-img {
  max-width: 100%;
  box-sizing: border-box;
  max-height: calc(90vh - 80px) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02);
}

.dlg-frame-full {
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: white;
  height: 90vh;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02) !important;
  position: fixed;
  margin: auto;
  box-sizing: border-box;
}

.dlg-title {
  background: gainsboro;
  border-bottom: 1px solid #b4b4b4;
  font-size: 1.3rem;
  text-align: center;
  padding: 10px 30px;
  padding-bottom: 6px;
  font-weight: 100;
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dlg-spacer {
  height: 20px;
}

.dlg-text {
  padding: 12px 16px;
  color: #505050;
}

.dlg-bottom {
  margin-top: 10px;
  text-align: right;
  margin-bottom: 10px;
  text-align: center;
}

.dlg-bottom .btn, .dlg-bottom input[type=button].pure, .dlg-bottom .pristine input[type=button], .pristine .dlg-bottom input[type=button],
.dlg-bottom input[type=submit].pure, .dlg-bottom .pristine input[type=submit], .pristine .dlg-bottom input[type=submit],
.dlg-bottom input[type=reset].pure, .dlg-bottom .pristine input[type=reset], .pristine .dlg-bottom input[type=reset], .dlg-bottom select.pure:not([multiple]), .dlg-bottom .pristine select:not([multiple]), .pristine .dlg-bottom select:not([multiple]),
.dlg-bottom .form-row select:not([multiple]),
.form-row .dlg-bottom select:not([multiple]), .dlg-bottom .btn-lg, .dlg-bottom .pristine button.btn-lg, .pristine .dlg-bottom button.btn-lg, .dlg-bottom .btn-sm, .dlg-bottom .pristine button.btn-sm, .pristine .dlg-bottom button.btn-sm, .dlg-bottom .btn-clear-lg, .dlg-bottom .pristine button.btn-clear-lg, .pristine .dlg-bottom button.btn-clear-lg, .dlg-bottom .btn-clear-sm, .dlg-bottom .pristine button.btn-clear-sm, .pristine .dlg-bottom button.btn-clear-sm, .dlg-bottom .btn-img, .dlg-bottom .btn-clear, .dlg-bottom .btn-img-sm, .dlg-bottom .pristine button.btn-img-sm, .pristine .dlg-bottom button.btn-img-sm, .dlg-bottom .btn-img-lg, .dlg-bottom .pristine button.btn-img-lg, .pristine .dlg-bottom button.btn-img-lg, .dlg-bottom button {
  min-width: 80px;
}

.dlg-frame .li-item, .dlg-frame-wide .li-item, .dlg-frame-none .li-item, .dlg-frame .li-item-h, .dlg-frame-wide .li-item-h, .dlg-frame-none .li-item-h {
  padding: 0.6rem 1.0rem;
  border-bottom: 1px solid gainsboro;
}

.page {
  box-sizing: border-box;
}

.page:not(.active) {
  display: none !important;
}

.tab-container {
  border-radius: 4px;
  box-sizing: border-box;
}

.tab-bar {
  display: flex;
  position: relative;
}

.tab-bar .tab, .tab-bar .tab-first, .tab-bar .tab-last {
  padding: .45rem .95rem;
  background: whitesmoke;
  border-top: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  font-weight: 100;
  font-size: 1.3rem;
  color: #787878;
  cursor: pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  min-width: 0px;
  line-height: 1.3rem;
  position: relative;
}

.tab-bar .tab > .btn-close {
  font-size: 1em !important;
  line-height: 1em;
  padding: 0px !important;
  margin: auto 0;
  margin-right: -0.25rem;
  margin-left: 0.5em !important;
}

.tab-bar .tab.flex > .btn-close {
  float: right;
}

.tab-bar .tab:first-child, .tab-bar .tab-first {
  border-left: 1px solid gainsboro;
  border-top-left-radius: 4px;
}

.tab-bar .tab:last-child, .tab-bar .tab-last {
  border-top-right-radius: 4px;
  border-right: 1px solid gainsboro;
}

.tab-bar .tab:hover {
  color: black;
}

.tab-bar .tab.active {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid gainsboro;
  color: #3c3c3c;
}

.tab-bar .tab.flex:last-child.active {
  border-right: 1px solid gainsboro;
}

.tab-bar .tab-bar-space {
  flex: 1;
  border-bottom: 1px solid gainsboro;
}

.tab-bar .tab img {
  height: 1.3rem;
  box-sizing: border-box;
  vertical-align: top;
  margin-right: 0.5rem;
  opacity: 0.8;
}

.tab-bar .tab:hover img, .tab-bar .tab.active img {
  opacity: 1;
}

.tab-pages {
  border: 1px solid gainsboro;
  border-top: 0px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-sizing: border-box;
}

.tab-page {
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.tab-page:not(.active) {
  display: none;
}

.card, .card-md-flex, .card-sm-flex, .card-md, .card-container .card-md, .card-sm, .card-container .card-sm {
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid gainsboro;
}

.card-title {
  padding: 8px;
  font-size: 1.4rem;
  text-align: center;
  background: #ebebeb;
  color: #3c3c3c;
  font-weight: 100;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid gainsboro;
}

.card img, .card-md-flex img, .card-sm-flex img, .card-md img, .card-container .card-md img, .card-sm img, .card-container .card-sm img {
  max-width: 100%;
  box-sizing: border-box;
}

.card-img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom: 1px solid gainsboro;
}

.card-sm, .card-container .card-sm {
  display: inline-block;
  width: 300px;
  max-width: 300px;
}

.card-md, .card-container .card-md {
  display: inline-block;
  width: 500px;
  max-width: 500px;
}

.card-sm-flex {
  width: 300px;
  flex: 1;
}

.card-md-flex {
  width: 500px;
  flex: 1;
}

.card-container {
  width: 100%;
}

.card-container .card, .card-container .card-sm, .card-container .card-md, .card-container .card-sm-flex, .card-container .card-md-flex {
  border-radius: 4px;
  flex-basis: auto;
  flex-grow: 1;
  margin: 4px;
  box-sizing: border-box;
  border: 1px solid gainsboro;
}

@media (max-width: 500px) {
  .card-container .card-md {
    max-width: 100% !important;
    min-width: 100%;
  }
}

.menu-container {
  min-width: 160px;
  background: #fafafa;
  position: fixed;
  z-index: 300;
  box-sizing: border-box;
}

.menu-container:not(.active) {
  display: none;
}

.menu-item {
  line-height: 1em;
  padding: 0.45em 0.75em;
  cursor: pointer;
  box-sizing: border-box;
  color: black;
  user-select: none;
}

.menu-item:hover {
  background: #9eddff;
}

.menu-item img {
  height: 1em;
  vertical-align: top;
  padding-right: 0.3em;
  box-sizing: border-box;
}

.menu-separator {
  display: block;
  height: 1px;
  background: gainsboro;
}

.menu-background {
  background: transparent;
  z-index: 290 !important;
}

input.pure:not([type=checkbox]):not([type=radio]):not([type=button]),
form.pure input:not([type=checkbox]):not([type=radio]):not([type=button]),
.form-row input:not([type=checkbox]):not([type=radio]):not([type=button]),
.pristine input:not([type=checkbox]):not([type=radio]):not([type=button]),
textarea.pure, .pristine textarea,
.form-row textarea {
  padding: .4rem .59rem;
  border-radius: 4px;
  margin: 3px 0px;
  border: 1px solid gainsboro;
  font-size: 1.1rem;
  box-shadow: inset 0 1px 3px rgba(80, 80, 80, 0.2);
  box-sizing: border-box;
}

.form-row select[multiple] {
  box-shadow: inset 0 1px 3px rgba(80, 80, 80, 0.2);
  font-size: 1.1rem;
  border-radius: 4px;
  margin: 3px 0px;
  border: 1px solid gainsboro;
}

select.pure:not([multiple]), .pristine select:not([multiple]),
.form-row select:not([multiple]) {
  -moz-appearance: none;
  padding: .4rem .59rem;
  margin: 3px 0px;
}

textarea.pure, .pristine textarea {
  height: 4rem;
  box-sizing: border-box;
}

select.pure[multiple], .pristine select[multiple] {
  border-radius: 4px;
  border: 1px solid gainsboro;
  margin: 3px 0px;
  box-sizing: border-box;
}

select.pure[multiple] option, .pristine select[multiple] option {
  padding: .15rem .45rem;
  font-size: 1.1rem;
}

.form-row {
  align-items: center;
}

.form-label {
  flex-basis: 150px;
  padding: 0.5rem;
  box-sizing: border-box;
}

.form-row input:not([type=checkbox]),
.form-row textarea,
.form-row select {
  flex: 1;
}

.toggle-switch, .toggle-switch-sm, .toggle-switch-lg {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 3rem;
  height: 1.5rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
  background-color: #747780;
  background-color: #b1bac7;
  transition: background-color ease 0.4s;
  box-sizing: border-box;
  border: none !important;
  margin: 0px;
}

.toggle-switch:hover, .toggle-switch-sm:hover, .toggle-switch-lg:hover {
  outline: none;
}

.toggle-switch:before, .toggle-switch-sm:before, .toggle-switch-lg:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 2;
  width: calc(1.5rem - 4px);
  height: calc(1.5rem - 4px);
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.toggle-switch:checked, .toggle-switch-sm:checked, .toggle-switch-lg:checked {
  background-color: #2f8dd9;
}

.toggle-switch:checked:before, .toggle-switch-sm:checked:before, .toggle-switch-lg:checked:before {
  left: calc(1.5rem + 2px);
}

.toggle-switch-lg {
  width: 3.9rem;
  height: 1.95rem;
}

.toggle-switch-lg:before {
  width: calc(1.95rem - 4px);
  height: calc(1.95rem - 4px);
}

.toggle-switch-lg:checked:before {
  left: calc(1.95rem + 2px);
}

.toggle-switch-sm {
  width: 1.8rem;
  height: 1rem;
}

.toggle-switch-sm:before {
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
}

.toggle-switch-sm:checked:before {
  left: calc(1rem - 1px);
}

.panel-l, .panel-r {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  max-width: 90%;
  background: white;
  z-index: 150;
  box-sizing: border-box;
}

.panel-l:not(.active), .panel-r:not(.active) {
  display: none !important;
}

.panel-r {
  left: auto;
  right: 0;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02) !important;
}

.panel-r .btn-close, .panel-l .btn-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.spinner-bar-pulse {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display: inline-block;
}

.spinner-bar-pulse > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  background-color: #4e8cd3;
  border-radius: 3px;
  margin: 2px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-bar-pulse .bar-pulse2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-bar-pulse .bar-pulse3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-bar-pulse .bar-pulse4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-bar-pulse .bar-pulse5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.carousel-container {
  position: relative;
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.carousel-left, .carousel-right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: rgba(150, 155, 155, 0.6);
  width: 50px;
  z-index: 10;
  text-align: center;
  box-sizing: border-box;
  font-size: 3em;
  text-shadow: 1px 1px rgba(250, 250, 250, 0.4);
  cursor: pointer;
  font-family: arial;
}

.carousel-carat {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.carousel-left:hover, .carousel-right:hover {
  color: rgba(50, 50, 50, 0.6);
  text-align: center;
}

.carousel-left {
  left: 0;
  border-radius: 0 4px 4px 0;
}

.carousel-right {
  border-radius: 4px 0 0 4px;
  right: 0;
  left: auto;
}

.carousel-container .slide {
  display: none;
  height: 100%;
}

.carousel-container .slide img {
  max-width: 100%;
  max-height: 100%;
}

.carousel-container .slide.active {
  display: block;
}

.calendar-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
}

.calendar-tbl {
  border-collapse: collapse;
  border-spacing: 0;
  display: inline-table;
}

.calendar-tbl th span {
  cursor: pointer;
}

.calendar-tbl th span:hover {
  opacity: 0.8;
}

.calendar-tbl tr.cal-title {
  border: 1px solid #2f8dd9;
}

.calendar-tbl tr.cal-title th {
  background: #2f8dd9;
  padding: 0.5rem;
  font-size: 1.2em;
  font-weight: 100;
  color: white;
  border: none;
}

.calendar-tbl .cal-next {
  cursor: pointer;
  font-size: 1.2em;
  font-family: arial;
  font-weight: 200;
}

.calendar-tbl .cal-next:hover {
  font-weight: bold;
}

.calendar-tbl .cal-day-header {
  text-align: center;
  background: #ebebeb;
}

.calendar-tbl .cal-day-header td {
  border: 1px solid gainsboro;
  padding: 0.5rem;
  color: #646464;
}

.calendar-tbl .cal-day {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid gainsboro;
  position: relative;
  vertical-align: top;
}

.calendar-tbl .cal-day.selected {
  background: #9eddff !important;
}

.calendar-tbl .cal-day.today {
  background: #ebebeb;
}

.calendar-tbl .cal-day-day {
  font-size: 0.8em;
  color: #505050;
  text-align: left;
}

.calendar-tbl .cal-day-content {
  min-height: 1em;
  font-size: 0.9em;
}

.calendar-tbl.selectable .cal-day {
  cursor: pointer;
}

.calendar-tbl.selectable .cal-day:hover {
  font-weight: bold;
}

.cal-sel-month, .cal-sel-year {
  position: absolute;
  top: 0px;
  vertical-align: top;
  padding: 3px;
  height: 100%;
  width: 100%;
  background: rgba(50, 50, 50, 0.2);
  text-align: center;
  z-index: 20;
  box-sizing: border-box;
  padding: 10px;
}

.cal-year-btn {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin: 1px;
}

.cal-month-btn {
  display: inline-block;
  text-align: center;
  margin: 1px;
  width: 30%;
  border-radius: 0px;
}

.cal-year-btn.active, .cal-month-btn.active {
  font-weight: bold;
}

.pristine,
.dlg-message-content,
input.pure, form.pure input, .pristine input,
select.pure[multiple], .pristine select[multiple],
.form-label,
.content,
table.pure, .pristine table,
.text,
.li-item,
.li-item-h,
.calendar-tbl, .cal-year-btn, .cal-month-btn {
  font-family: calibri,Ubuntu,BlinkMacSystemFont,Segoe UI, Roboto, Oxygen,sans-serif,Helvetica;
}

.card-title,
.header-title,
.header-links, .header-links-w,
.tab-bar,
.dlg-title,
.pristine h1, .pristine h2, .pristine h3, .pristine h4,
h1.pure, h2.pure, h3.pure, h4.pure {
  font-family: "Segoe UI",ubuntu,"San Francisco";
}

.toc-item, .toc-h5, .toc-h4, .toc-h3, .toc-h2, .toc-h1 {
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  font-weight: 100;
}

.toc-item[onclick], [onclick].toc-h5, [onclick].toc-h4, [onclick].toc-h3, [onclick].toc-h2, [onclick].toc-h1 {
  cursor: pointer;
}

.toc-item[onclick]:hover, [onclick].toc-h5:hover, [onclick].toc-h4:hover, [onclick].toc-h3:hover, [onclick].toc-h2:hover, [onclick].toc-h1:hover {
  text-decoration: underline;
}

.toc-h1 {
  font-size: 1.1em;
}

.toc-h2 {
  margin-left: 1em;
}

.toc-h3 {
  margin-left: 2em;
}

.toc-h4 {
  margin-left: 3em;
}

.toc-h5 {
  margin-left: 4em;
}

.btn-expanded {
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.2em;
}

.btn-collapsed {
  cursor: pointer;
  font-size: 1.2em;
  display: inline-block;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  box-sizing: border-box;
}
