
.calendar-container {
    position:relative;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
    text-align:center;
}

.calendar-tbl {
    border-collapse: collapse;
    border-spacing: 0;
    display:inline-table;
    
    th span {
        cursor:pointer;
    }
    
    th span:hover {
        opacity:0.8;
    }
    
    tr.cal-title {
        border:1px solid $blue;
        
        th {
            background:$blue;
            padding:$pad;
            font-size:1.2em;
            font-weight:100;
            color:white;
            border:none;
        }
    }
    
    .cal-next {
        cursor:pointer;
        font-size:1.2em;
        font-family:arial;
        font-weight:200;
    }
    .cal-next:hover {
        font-weight:bold;
    }
    
    .cal-day-header {
        text-align:center;
        background:$clr-btn-btm;
        
        td {
            border:1px solid $clr-border;
            padding:$pad;
            color:rgb(100,100,100);
        }
    }
    
    .cal-day {
        text-align:center;
        padding:$pad;
        border:1px solid $clr-border;
        position:relative;
        vertical-align:top;
    }
    
    .cal-day.selected {
        background:$clr-highlight !important;
    }

    .cal-day.today {
        background:$clr-btn-btm;
    }
    
    .cal-day-day {
        font-size:0.8em;
        color:rgb(80,80,80);
        text-align:left;
    }
    
    .cal-day-content {
        min-height:1em;
        font-size:0.9em;
    }

}

// Selectable Day Formating
.calendar-tbl.selectable .cal-day {
    cursor:pointer;
}

.calendar-tbl.selectable .cal-day:hover {
    font-weight:bold;
}

//---Year Select
.cal-sel-month, .cal-sel-year {
    position:absolute;
    top:0px;
    vertical-align:top;
    padding:3px;
    height:100%;
    width:100%;
    background:rgba(50,50,50,0.2);
    text-align:center;
    z-index:20;
    box-sizing:border-box;
    padding:10px;
}

.cal-year-btn {
    display:inline-block;
    width:50%;
    text-align:center;
    margin:1px;
}

.cal-month-btn {
    display:inline-block;
    text-align:center;
    margin:1px;
    width:30%;
    border-radius:0px;
}

.cal-year-btn.active, .cal-month-btn.active {
    font-weight:bold;
}