
.carousel-container {
    position:relative;
    // min-height:4em;
    max-height:100vh;
    max-width:100%;
    overflow:hidden;
    box-sizing:border-box;
}

.carousel-page {
    
}

.carousel-left, .carousel-right {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    color:rgba(150,155,155,0.6);
    width:50px;
    z-index:10;
    text-align:center;
    box-sizing:border-box;
    font-size:3em;
    text-shadow:1px 1px rgba(250,250,250,0.4);
    cursor:pointer;
    font-family:arial;
    @extend .noselect;
}

.carousel-carat {
    position: absolute;
    // top: 50%;
    // display:inline-block;
    width:100%;
    box-sizing:border-box;
    // margin-top:-20px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carousel-left:hover, .carousel-right:hover {
    color:rgba(50,50,50,0.6);
    text-align:center;
}



.carousel-left {
    left:0;
    border-radius:0 $br $br 0;
}
.carousel-right {
    border-radius:$br 0 0 $br;
    right:0;
    left:auto;
}

.carousel-container .slide {
    display:none;
    height:100%;
}
.carousel-container .slide img {
    max-width:100%;
    max-height:100%;
}
.carousel-container .slide.active {
    display:block;
}