
.dlg-bg {
    @extend .background-full;
    background:rgba(74,86,100,0.7);
    // position:fixed;
    // left:0;
    // top:0;
    // display:block;
    z-index:200 !important;
    // height:100vh;
    // width:100vw;
    display:flex;
    align-items:center;
    justify-content:center;
}

.dlg-bg-temp {
    @extend .dlg-bg;
    z-index:220 !important;
}

.dlg-bg:not(.active) {
    display:none;
}

.dlg-bg-temp:not(.active) {
    display:flex;
}

.dlg-frame {
    position:relative;
    background:white;
    border-radius:$br;
	max-height:90vh;
	overflow-y:auto;
// 	border:1px solid rgb(120,120,120);
// 	box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02) !important;
// 	box-shadow:1px 1px $clr-btn-shadow;
	width:350px;
	max-width:90vw;
    // padding-top:20px;
    
    // Center
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    box-sizing:border-box;
    padding:0px;
    outline:none;
    
    > .btn-close {
        position:absolute;
        // top:2px;
        right:6px;
    }
}

.dlg-frame-wide {
    @extend .dlg-frame;
    width:600px;
    max-width:90vw;
}

.dlg-frame-none {
    @extend .dlg-frame;
    // max-height:90vh;
    background:transparent;
    width:auto;
    // max-height:90vh;
    
    .btn-close {
        position:fixed;
        right:4px;
        top:4px;
        color:rgb(220,220,220);
        font-size:2rem !important;
        font-weight:normal;
    }
    .btn-close:hover {
        color:white;
    }
}

.dlg-img {
    max-width:100%;
    box-sizing:border-box;
    max-height:calc(90vh - 80px) !important;
    box-shadow:0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

.dlg-frame-full {
    top:20px;
    bottom:20px;
    left:20px;
    right:20px;
    background:white;
    // border-radius:$br;
	height:90vh;
	overflow-y:auto;
// 	border:1px solid rgb(120,120,120);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02) !important;
	position: fixed;
	margin:auto;
    box-sizing:border-box;
}

.dlg-title {
    // background:$darkgray;
    background:$clr-title;
    // border-top:1px solid $darkgray;
    border-bottom:1px solid $clr-border2;
    // border:0px;
    font-size:1.3rem;
    text-align:center;
    padding:10px 30px;
    padding-bottom:6px;
    // margin-bottom:16px;
    // margin-bottom:2px;
    font-weight:100;
    // color:rgb(40,40,40);
    // color:white;
    // margin-top:2px;
    box-sizing:border-box;
    border-top-left-radius:$br;
    border-top-right-radius:$br;
    // border:none;
    // outline:none;
}

// .dlg-close {
//     color:rgba(0,0,0,0.5);
//     position:absolute;
//     top:2px;
//     right:8px;
//     cursor:pointer;
//     cursor:pointer;
//     font-size:1.4rem;
//     font-weight:bold;
// }

// .dlg-close:hover {
//     color:rgba(0,0,0,0.7);
// }

.dlg-spacer {
    height:20px;
}

.dlg-text {
    padding:12px 16px;
    // font-family:$font;
    color:rgb(80,80,80);
    // padding-right:16px;
}

.dlg-bottom {
    margin-top:10px;
    text-align:right;
    margin-bottom:10px;
    text-align:center;
    
    .btn, button {
        min-width:80px;
    }

}

.dlg-frame .li-item {
    padding:0.6rem 1.0rem;
    border-bottom:1px solid $clr-border;
}

// .dlg-frame > ul.li-items {
//     border:none !important;
//     border-radius:0 !important;
    
//     li {
//         border-bottom:1px solid $clr-border;
//     }
//     li:first-child {
//         border-top:1px solid $clr-border;
//     }
    
// }