.pristine {
    color:$text-color;
    
}

//---Links
.pristine a, .pristine a:visited {
    color:rgb(26,99,163);
    text-decoration:none;
    outline:none;
    cursor:pointer;
}
.pristine a:hover {
    color:rgb(30,118,195);
}

//---Buttons
.btn, .pristine button {
    border:none;
    border-radius:$br-btn;
    background: $clr-btn-top ;
    background: linear-gradient(to bottom, $clr-btn-top 0%,$clr-btn-btm 100%);
    padding:.33rem .89rem;
    font-size:1rem;
    cursor:pointer;
    box-shadow:1px 1px $clr-btn-shadow;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-sizing:border-box;
    margin:2px;
    box-sizing:border-box;
    line-height:1.4rem;
}

.btn:disabled, .pristine button:disabled {
    cursor:default;
}

.btn:hover, .pristine button:hover {
    background: $clr-btn-top-hvr;
    background: linear-gradient(to bottom, $clr-btn-top-hvr 0%,$clr-btn-btm-hvr 100%);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

button.pure {
    @extend .btn;
}

.btn-lg, .pristine button.btn-lg {
    @extend .btn;
    padding:.43rem 1.45rem;
    font-size:1.3rem;
    line-height:2rem;
}

.btn-sm, .pristine button.btn-sm {
    @extend .btn;
    padding:.2rem .6rem;
    font-size:0.8rem;
    line-height:1rem;
}

.btn-close {
    color:rgba(0,0,0,0.5);
    cursor:pointer;
    background:none !important;
    border:0  !important;
    box-shadow:none !important;
    box-sizing:border-box;
    font-size:1.6rem !important; 
    padding:4px 6px !important;
    line-height:1.6rem;
}

.btn-close:hover {
    color:rgba(0,0,0,0.7);
    font-weight:bold;
}

.btn-clear {
    @extend .btn-img;
    background:transparent !important;
    box-shadow:none !important;
    border:0;
    opacity:0.8;
}

.btn-clear:hover {
    opacity:1;
}

.btn-clear-lg {
    @extend .btn-lg;
    @extend .btn-img-lg;
    @extend .btn-clear;
}

.btn-clear-sm {
    @extend .btn-sm;
    @extend .btn-img-sm;
    @extend .btn-clear;
}


//---Button Images
.btn img, .pristine button img {
    height:1.4rem;
    vertical-align:top;
    margin-right:0.4rem;
}
.btn img:after {
    margin-right:1rem;
    
}
.btn-lg img, .pristine button.btn-lg img {
    height:2rem;
    line-height:2rem;
    vertical-align:top;
}

.btn-sm img, .pristine button.btn-sm img {
    height:1rem;
    vertical-align:top;
}

//---Button - Only Image
.btn-img {
    @extend .btn;
    padding:.33rem .33rem !important;
}
.btn-img img {
    height:1.6rem !important;
    margin:-0.1rem 0px -0.1rem 0px !important;
}

.btn-img-sm {
    @extend .btn-sm;
    padding:.2rem .2rem !important;
}
.btn-img-sm img {
    height:1.2rem !important;
    margin:-0.1rem 0px -0.2rem 0px !important;
}
.btn-img-lg {
    @extend .btn-lg;
    padding:.43rem 0.43rem !important;
}
.btn-img-lg img {
    height:2.4rem !important;
    line-height:2.4rem;
    margin:-0.2rem 0px -0.2rem 0px !important;
}

//---Table
table.pure, .pristine table {
    border-collapse: collapse;
    border-spacing: 0;
    background:white;
    color:$text-color;
    border: 1px solid $clr-border;
    
    tr th {
        background: $clr-btn-top;
    }

    tr th,
    tr td {
        border: 1px solid $clr-border;
        padding: $table-padding;
    }
}

.center > table, table.center  {
    margin: 0 auto;  // Center
}

.tbl-row-count {
    font-size:0.8rem;
    font-weight:normal;
    color:$text-light-color;
}

.tbl-highlight tbody {
    tr:hover {
        background:$clr-btn-top;
    }
    tr td[contenteditable="true"]:focus {
        background:white
    }
    tr:hover .tbl-row-count {
        background:$clr-btn-btm;
    }
    
}

//---stickers
.sticker {
    @extend .shadow;
    display:inline-flex;
    box-sizing:border-box;
    white-space: nowrap;
    font-size:0.8rem;
    line-height:0.85rem;
    padding: .35em .5em;
    margin-left:0.5rem;
    margin-right:0.5rem;
    border-radius:$br;
    font-weight:bold;
}

//---Notification
.notify {
    background:$notify-bg;
    border-radius:$br;
    padding:$content-padding;
    padding-right:2*$content-padding;
    margin:10px 0px;
    background:rgba(183,221,255, 0.9);
    color:rgba(40,48,56,0.9);
    position:relative;
    box-sizing:border-box;
    
    .btn-close {
        position:absolute;
        top:$content-padding/2;
        right:$content-padding/2;
    }
}

//---List Item
.li-item-container {
    @extend .flex-col;
}

.li-item {
    display:flex;
    align-items:center;
    box-sizing:border-box;
    padding:0.45rem 0.65rem;
    box-sizing:border-box;
    padding-right:0px;
    justify-content: left;
    font-size:1.1rem;
    
    img {
        box-sizing:border-box;
        height:1.4rem;
        margin:-.2rem 0px;
        margin-right:0.45rem;
    }
    
    .sticker {
        margin-right:0.45rem;
    }
    
}

.li-item-container.border {
    border-bottom:0px;
    .li-item {
        border-bottom:1px solid $clr-border;
    }
}



.li-text {
    flex:1;
    padding-right:0.45rem;
}

.li-item.heading {
    font-size:1.3rem;
    background:$clr-card-bg;
}

.li-details {
    flex-basis:100%;
    font-size:0.9rem;
    min-height: 0;
    padding:0.3rem;
    padding-left:0.45rem;
    padding-top:0.5rem;
}

.li-item-h {
    @extend .li-item;
    cursor:pointer;
}

.li-item-h:hover, a .li-item:hover {
    background:$bg-highlight;
}

a .li-item {
    color:$text-color;
}

//---Other
pre.pure, .pristine pre {
    background:$pre-bg;
    border-radius:$br;
    border:1px solid $clr-border;
    padding:0.8em;
    box-sizing:border-box;
    code {
        background:none;
        border:none;
        padding:0px;
        display:block;
    }
}
code.pure, .pristine code {
    padding:0.1em 0.3em;
    background:$pre-bg;
    border-radius:$br;
    border:1px solid $clr-border;
    box-sizing:border-box;
    display:inline-block;
    vertical-align:top;
}
.pristine img, img.pure {
    max-width:100%;
    box-sizing:border-box;
    max-height:100%;
}

.pristine hr, hr.pure {
    border:0px;
    border-top: 1px solid $clr-border2;
}

template {
    display: none;
}
