//---Flex
.flex-row {
    display:flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;

    justify-content:center;
        -webkit-justify-content:center;
    box-sizing:border-box;
    min-height:0;
}

.flex-container {
    @extend .flex-row;
    flex-wrap:wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
}

.flex-wrap {
    flex-wrap:wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
}

.flex-center {
    align-items:center;
    justify-content:center;
        -webkit-justify-content:center;
}

.flex-row-c {
    @extend .flex-row;
    align-items:center;
}

.flex {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1;
}

.flex-1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex:1;
}

.flex-2 {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex:2;
}

.flex-3 {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex:3;
}

.flex-col {
    display:flex;
        display:-webkit-flex;
    flex-direction:column;
        -webkit-flex-direction:column;
    box-sizing:border-box;
    min-height:0;
}

.flex-row-break {
    flex-basis:100%;
}

//---Flex Grid
.flex-grid .row {
    display:flex;
    flex-direction:row;
}

.flex-grid .row.wrap, .flex-grid.wrap .row {
    flex-wrap:wrap;
}

.col {
    flex:1;
    box-sizing:border-box;
}

[class*='col-'] {
    box-sizing:border-box;
}

// Columns
.col-20 {flex:2.0;}
.col-25 {flex:2.5;}
.col-33 {flex:3.3;}
.col-40 {flex:4.0;}
.col-50 {flex:5.0;}
.col-60 {flex:6.0;}
.col-66 {flex:6.6;}
.col-75 {flex:7.5;}
.col-80 {flex:8.0;}
