
input.pure:not([type=checkbox]):not([type=radio]):not([type=button]), 
form.pure input:not([type=checkbox]):not([type=radio]):not([type=button]), 
.form-row  input:not([type=checkbox]):not([type=radio]):not([type=button]), 
.pristine input:not([type=checkbox]):not([type=radio]):not([type=button]),
textarea.pure, .pristine textarea,
.form-row textarea
{
    // padding:0.4rem;
    padding:.4rem .59rem;
    border-radius: $br;
    margin:3px 0px;
    border:1px solid $clr-border;
    // margin-top:3px;
    // margin-bottom:3px;
    // font-family:$font;
    font-size:1.1rem;
    // line-height:1.3rem;
    // background:rgb(252,252,252);
    // outline:none;
    box-shadow:inset 0 1px 3px rgba(80,80,80,0.2);
    box-sizing:border-box;
}

.form-row select[multiple] {
    box-shadow:inset 0 1px 3px rgba(80,80,80,0.2);
    font-size:1.1rem;
    border-radius: $br;
    margin:3px 0px;
    border:1px solid $clr-border;
}



select.pure:not([multiple]), .pristine select:not([multiple]),
.form-row select:not([multiple]), 
{
    @extend .btn;
    -moz-appearance: none;
    padding:.4rem .59rem;
    // line-height:1.4rem;
    margin:3px 0px;
    // padding:.33rem .59rem;
    // margin-top:3px;
    // margin-bottom:3px;
    // // padding-top:0.4rem;
    // // padding-bottom:0.4rem;
    // font-size:1.1rem;
    // vertical-align:bottom;
    // -webkit-appearance: none;
}

input[type=button].pure, .pristine input[type=button],
input[type=submit].pure, .pristine input[type=submit] ,
input[type=reset].pure, .pristine input[type=reset]
{
    @extend .btn;
    // box-shadow:none;
    // box-sizing:border-box;
}



textarea.pure, .pristine textarea {
    // @extend input.pure;
    height:4rem;
    box-sizing:border-box;
}


select.pure[multiple], .pristine select[multiple] {
    border-radius: $br;
    border:1px solid $clr-border;
    margin:3px 0px;
    // margin-top:3px;
    // margin-bottom:3px;
    // outline-color:$clr-highlight;
    // padding:0.4rem 0px;
    box-sizing:border-box;
    option {
        // margin:1px;
        // padding:4px 10px;;
        padding:.15rem .45rem;
        font-size:1.1rem;
        // font-family:$font;
    }
    
}

.form-row {
    @extend .flex-row;
    // justify-content: center;
    align-items:center;
}
.form-label {
    // display:inline-block;
    flex-basis:150px;
    // text-align:right;
    // flex-direction: column;
    padding:0.5rem;
    // font-family:$font;
    box-sizing:border-box;
}

.form-row input:not([type=checkbox]),
// .form-row input,
.form-row textarea,
.form-row select {
    flex:1;
    // @extend input.pure;
}
// .form-row select {
//     flex:1;
//     @extend select.pure;
    
// }


//---Toggle Switch
$switch_height: 1.5rem;
.toggle-switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: $switch_height*2;
    height: $switch_height;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius:4px;
    cursor: pointer;
    background-color: rgb(116,119,128);
    background-color: $grayh;
    transition: background-color ease 0.4s;
    box-sizing:border-box;
    border:none !important;
    margin:0px;
}

.toggle-switch:hover {
    outline:none;
}

.toggle-switch:before {
    content: " ";
    display: block;
    position: absolute;
    z-index: 2;
    width: calc(#{$switch_height} - 4px);
    height: calc(#{$switch_height} - 4px);
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius:3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition:  0.4s;
}

.toggle-switch:checked {
    // background-color: rgb(70,167,237);
    background-color: $blue;
}

.toggle-switch:checked:before {
    left: calc(#{$switch_height} + 2px);
}

//---toggle-swtich-lg
.toggle-switch-lg {
    @extend .toggle-switch;
    width: $switch_height*2*1.3;
    height: $switch_height*1.3;
}
.toggle-switch-lg:before {
    // @extend .toggle-switch:before;
    width: calc(#{$switch_height*1.3} - 4px);
    height: calc(#{$switch_height*1.3} - 4px);
}
.toggle-switch-lg:checked:before {
    left: calc(#{$switch_height*1.3} + 2px);
}
//---toggle-swtich-sm
.toggle-switch-sm {
    @extend .toggle-switch;
    width: 1.8rem;
    height: 1rem;
}
.toggle-switch-sm:before {
    // @extend .toggle-switch:before;
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
}
.toggle-switch-sm:checked:before {
    left: calc(1rem - 1px);
}