

//---Header
.header-bar {
    padding:10px 16px;
    box-sizing:border-box;
    color:$heading-clr;
    overflow:auto;
    @extend .flex-container;
    align-items:center;
    -webkit-align-items: center;
}

.header-bar-fixed {
    @extend .header-bar;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    z-index: 100;
    background: $header-bg;
}

.header-title {
    font-size:1.8rem;
    font-weight:100;
    @extend .flex;
    min-width:150px;
}

.header-title img {
    height:1em;
    margin-top:0.1em;
    box-sizing:border-box;
    vertical-align:top;
}

.header-spacer {
    display:block;
    height:$header-height;
}

.header-links, .header-links-w {
    display:inline-block;
    vertical-align:bottom;
    box-sizing:border-box;
    font-weight:100;
    font-size:1rem;
}

.header-links a, .header-links-w a {
    color:rgb(80,80,80) !important;
    padding:4px;
    padding-left:10px;
    cursor:pointer;
    text-decoration:none;
}
.header-links a:hover {
    color:black !important;
}

.header-links-w a {
    color:rgb(240,240,240) !important;
}
.header-links-w a:hover {
    color:white !important;
}

@media ( max-width: 500px ) {
    .header-bar {
        padding:6px 10px;
        min-height:20px;
    }
    .header-title {
        font-size:1.2rem;
    }
    .header-links, .header-links-w {
        font-size:0.9rem;
    }
}
