
.menu-container {
    min-width:160px;
    background:rgb(250,250,250);
    @extend .shadow;
    position:fixed;
    z-index:300;
    box-sizing:border-box;
}

.menu-container:not(.active) {
    display:none;
}

.menu-item {
    line-height:1em;
    padding:0.45em 0.75em;
    cursor:pointer;
    box-sizing:border-box;
    color: black;
    user-select: none;
}

.menu-item:hover {
    background:$clr-highlight;
}

.menu-item img {
    height:1em;
    vertical-align:top;
    padding-right:0.3em;
    box-sizing:border-box;
}

.menu-separator {
    display:block;
    height:1px;
    background:$clr-border;
}

.menu-background {
    @extend .background-full;
    background:transparent;
    z-index:290 !important;

}