.panel-l {
    position:fixed;
    top:0;
    left:0;
    width:300px;
    height:100%;
    overflow-y:auto;
    max-width:90%;
    
    background:$panel-bg;
    z-index:150;
    
    @extend .shadow-r;
    box-sizing:border-box;

}

.panel-l:not(.active), .panel-r:not(.active) {
    display:none !important;
}

.panel-r {
    @extend .panel-l;
    left:auto;
    right:0;
    box-shadow: -2px 0 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02) !important;
}

.panel-r .btn-close, .panel-l .btn-close {
    position:absolute;
    top:$content-padding/2;
    right:$content-padding/2;
}