//---Rectangular Bar Pulse

.spinner-bar-pulse {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display:inline-block;
}

.spinner-bar-pulse > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  background-color:$spinner-bg;
  border-radius:3px;
  margin:2px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-bar-pulse .bar-pulse2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner-bar-pulse .bar-pulse3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner-bar-pulse .bar-pulse4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner-bar-pulse .bar-pulse5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}