
.toc-item {
    display:block;
    padding:4px 8px;
    text-decoration:none;
    font-weight:100;
}

.toc-item[onclick] {
    cursor:pointer;
    // font-weight:400;
}

.toc-item[onclick]:hover {
    text-decoration:underline;
}

.toc-h1 {
    @extend .toc-item;
    font-size:1.1em;
}

.toc-h2 {
    @extend .toc-item;
    margin-left:1em;
}

.toc-h3 {
    @extend .toc-item;
    margin-left:2em;
}
.toc-h4 {
    @extend .toc-item;
    margin-left:3em;
}
.toc-h5 {
    @extend .toc-item;
    margin-left:4em;
}

// Down
.btn-expanded {
    display:inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    height:1.4em;
    width:1.4em;
    text-align:center;
    box-sizing:border-box;
    cursor:pointer;
    font-size:1.2em;
}

// Right
.btn-collapsed {
    cursor:pointer;
    font-size:1.2em;
    display:inline-block;
    height:1.4em;
    width:1.4em;
    text-align:center;
    box-sizing:border-box;
}