
//---Page
.page {
    box-sizing:border-box;
}
.page:not(.active) {
    display:none !important;
}

.tab-container {
    border-radius:$br;
    box-sizing:border-box;
}

//---
//---TabBar
.tab-bar {
    @extend .flex-row;
    display:flex;
    position:relative;

    .tab, .tab-first, .tab-last {
        padding:.45rem .95rem;
        background: $clr-btn-top;
        border-top:1px solid $clr-border;
        border-right:1px solid $clr-border;
        border-bottom:1px solid $clr-border;
        font-weight:100;
        font-size:1.3rem;
        color:$text-disabled;
        cursor:pointer;
        border-top-left-radius:$br;
        border-top-right-radius:$br;
        box-sizing:border-box;
        min-width:0px;
        @extend .noselect;
        line-height:1.3rem;
        position:relative;
    }
    
    .tab > .btn-close {
        font-size:1em !important;
        line-height:1em;
        padding:0px !important;
        margin:auto 0;
        margin-right:-0.25rem;
        margin-left:0.5em !important;
    }
    
    .tab.flex > .btn-close {
        float:right;
    }
    
    .tab:first-child, .tab-first {
        border-left:1px solid $clr-border;
        border-top-left-radius:$br;
    }
    
    .tab:last-child, .tab-last {
        border-top-right-radius:$br;
        border-right:1px solid $clr-border;
    }

    .tab:hover {
        color:black;
    }
    
    .tab.active {
        background:white;
        border-bottom:1px solid rgba(0,0,0,0);
        border-top:1px solid $clr-border;
        color:$heading-clr;
    }
    
    .tab.flex:last-child.active {
        border-right:1px solid $clr-border;
    }
    
    .tab-bar-space {
        flex:1;
        border-bottom:1px solid $clr-border;
    }
    
    .tab img {
        height:1.3rem;
        box-sizing:border-box;
        vertical-align:top;
        margin-right:0.5rem;
        opacity:0.8;
    }
    .tab:hover img, .tab.active img {
        opacity:1;
    }
    
}

//---Tab Page
.tab-pages {
    border:1px solid $clr-border;
    border-top:0px;
    border-radius:$br;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    box-sizing:border-box;
}
.tab-page {
    overflow-y:auto;
    height:100%;
    box-sizing:border-box;
    
}

.tab-page:not(.active) {
    display:none;
}
