
//---Headings
.pristine h1, .pristine h2, .pristine h3, .pristine h4,
h1.pure, h2.pure, h3.pure, h4.pure {
    font-weight:100;
    color:$heading-clr;
    box-sizing:border-box;
}

//---Text
.text, .text-sm, .text-lg, .text-title  {
    font-size:1.1em;
    font-weight:200;
    box-sizing:border-box;
}

.text-sm {
    font-size:0.8em;
}

.text-lg {
    font-size:1.4em;
}
.text-title {
    font-size:1.8em;
}

//---Other
.text-thin {
    font-weight:100;
}
.text-dim {
    opacity:0.7;
}
.text-bold {
    font-weight:bold !important;
}
.text-italic {
    font-style:italic !important;
}
