
$transp:80%; // transparency

$br:4px;  // border radius
$br-btn:4px;  // button border radius


//---Font
// $font:calibri,helvetica,ubuntu;
// $font: calibri,Ubuntu,BlinkMacSystemFont,Segoe UI, Roboto, Oxygen,sans-serif;
// $heading-font:"Segoe UI",ubuntu,"San Francisco";

$pad: 0.5rem;
// $input-padding: $pad;
$content-padding: 1rem;
$table-padding: 0.3rem 0.4rem;

$text-disabled: rgb(120,120,120);

$text-color:rgb(60,60,60);
$text-light-color:rgb(100,100,100);

//---Button Color
$clr-btn-top: rgba(245,245,245,$transp);
$clr-btn-btm: rgba(235,235,235,$transp);
$clr-btn-top-hvr: rgba(235,235,235,$transp);
$clr-btn-btm-hvr: rgba(225,225,225,$transp);
$clr-btn-shadow: rgba(210,210,210, $transp);

//---Header
// $header-font:$heading-font;
$header-height:56px;
$heading-clr:rgb(60,60,60);
$header-bg: white;

//---General Colors
$clr-border: rgb(220,220,220);
$clr-border2: rgb(180,180,180);


// Cards
$clr-card-bg: rgba(235,235,235,$transp);
$card-spacing: 4px;
$clr-title: rgb(220,220,220);

$spinner-bg: rgb(78,140,211); // Spinner Background Color

// Noftication
$notify-bg: rgba(145,191,222,$transp);

// Panel
$panel-bg: rgb(255,255,255);

$pre-bg:rgb(245,245,245);

// Grid
$grid_spacing:8px;

// Items
$clr-highlight:rgb(158,221,255);
$bg-highlight:rgb(168,220,255);

//---Colors

// // Gray shortcuts
// $g245:rgb(245,245,245);
// $g230:rgb(230,230,230);
// $g220:rgb(220,220,220);
// $g210:rgb(210,210,210);
// $g180:rgb(180,180,180);
// $g100:rgb(100,100,100);


// Blue
$blue:rgb(47,141,217);
$blueh:rgb(41,130,197);
$darkblue:rgb(38,64,92);

// Red
$red:rgb(255,78,81);
$redh:rgb(225,68,78);

// Yellow
$yellow:rgb(255,218,123);
$yellowh:rgb(245,236,185);

// Green
$green:rgb(42,180,77);
$greenh:rgb(60,166,72);

// Gray
$gray:rgb(242,243,245);
$grayh:rgb(177,186,199);

// Dark Gray
$darkgray:rgb(79,89,100);
$darkgrayh:rgb(62,69,78);

//Orange
$orange:rgb(255,134,73);
$orangeh:rgb(232,122,66);

// Purple
$purple:rgb(119,86,184);
$purpleh:rgb(98,71,152);